<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/product.css" />

  </head>

  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item" id="home">
            <a class="active" href="/shop">Shop</a>
          </li>
          <li class="main-header__item" id="add_product">
            <a href="/admin/add-product">Add Product</a>
          </li>
          <li class="main-header__item"><a href="/newLogout">Logout</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>My Products</h1>
      <p>List of all the products...</p>
    </main>
    <section class="pagination">
      <a href="shopall?page=1&limit=3">1</a>
      <a href="shopall?page=3&limit=3">2</a>
      <!-- <a href="/shop?page=3">3</a> -->
    </section>
    <script>
      const aa= fetch("http://localhost:3000/shopall").then(res=> console.log(">>>>>>>>",res))
   
    </script>
  </body>
</html>
